<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="./Template/front-end/assets/css/style.css">
	<title>

  </title>
</head>
<body>
  <header>
      <a class="navbar-brand" href="#">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                      <li class="nav-item active">
                          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="Comment.html">Comment</a>
                      </li>
                      <li class="nav-item" >
                          <a class="nav-link" href="About_me.html">About me</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">{{title}}</a>
                      </li>
                  </ul>
              </div>
          </nav>
      </a>
  </header>
<div class="page">
				<div class="container">
          <div class="row no-gutters">
         
               <div  class="col-4 themed-grid-col">
                  
            <img  src="./Template/front-end/assets/images/chubaka.png" alt="Чубакка" align="rig">
                </div>
                     <div class="col-md-3 themed-grid-col">
                  <p >Чубакка из расы вуки — огромный, покрытый мехом герой, отличавшийся невероятной силой и преданностью — был хорошо известен как в преступном мире, так и в Альянсе повстанцев. Родившись на Кашиике более чем за два столетия до битвы на Явине, Чубакка отличался мудростью и знанием жизни, а также исключительными навыками пилотирования и ремонта звездных кораблей.</p>
                     </div>
         </div>
        </div>
  </div>
  <div>



<!--            <table border="1" style="width: 80%;">-->
<!--                <thead>-->
<!--                    <tr>-->
<!--                        <td>Имя</td>-->
<!--                        <td>Предмет</td>-->
<!--                        <td>Возраст</td>-->
<!--                        <td>Начал(а) работать</td>-->
<!--                    </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                    {% for staffer in staff %}-->
<!--                        <tr>-->
<!--                            <td>{{ staffer.name }}</td>-->
<!--                            <td>{{ staffer.description }}</td>-->
<!--                            <td>{{ staffer.age }}</td>-->
<!--                            <td>{{ staffer.date_register|date("m/d/Y") }}</td>-->
<!--                        </tr>-->
<!--                    {% endfor %}-->
<!--                </tbody>-->
<!--            </table>-->

  </div>
  <footer><div class="footer">
      <div>ChisVL</div>
  </div></footer>
</body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</html> 
